<h2>Astro Services</h2>
		<div class="product-arrow"></div>
		<div class="products-list clearfix">
			<div class="row">
				<div class="col-sm-4">					
					<div class="product-box">
						<div class="pad">
							<div class="img-wrapper text-center">
								<img src="assets/product/product-1.png" alt=""/>
							</div>							
							<h3>Vaastu &amp; You</h3>
							<div class="left">
								<p class="amount m-b-0"><span>Rs.</span> 11,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right">
								<p class="amount m-b-0"><span>$</span> 200</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>					
				</div>

				<div class="col-sm-4">					
					<div class="product-box">
						<div class="pad">
							<div class="img-wrapper text-center">
								<img src="assets/product/product-2.png" alt=""/>
							</div>
							<h3>Rajyog</h3>
							<div class="left">
								<p class="amount m-b-0"><span>Rs.</span> 11,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right">
								<p class="amount m-b-0"><span>$</span> 200</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>					
				</div>

				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<div class="img-wrapper text-center">
								<img src="assets/product/product-3.png" alt=""/>
							</div>
							<h3>Numerology</h3>
							<div class="left">
								<p class="amount m-b-0"><span>Rs.</span> 11,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right">
								<p class="amount m-b-0"><span>$</span> 200</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

			</div>
			<!--end first row -->

			<div class="row">
				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<div class="img-wrapper text-center">
								<img src="assets/product/product-4.png" alt=""/>
							</div>
							<h3>Marriage Prospects</h3>
							<div class="left">
								<p class="amount m-b-0"><span>Rs.</span> 5,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right">
								<p class="amount m-b-0"><span>$</span> 50</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<div class="img-wrapper text-center">
								<img src="assets/product/product-5.png" alt=""/>
							</div>
							<h3>Love Life Report</h3>
							<div class="left">
								<p class="amount m-b-0"><span>Rs.</span> 5,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right">
								<p class="amount m-b-0"><span>$</span> 50</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<div class="img-wrapper text-center">
								<img src="assets/product/product-6.png" alt=""/>
							</div>
							<h3>Health Report</h3>
							<div class="left">
								<p class="amount m-b-0"><span>Rs.</span> 11,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right">
								<p class="amount m-b-0"><span>$</span> 200</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

			</div>
			<!--end second row -->

			<div class="row">
				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<div class="img-wrapper text-center">
								<img src="assets/product/product-7.png" alt=""/>
							</div>
							<h3>Career Report</h3>
							<div class="left">
								<p class="amount m-b-0"><span>Rs.</span> 5,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right">
								<p class="amount m-b-0"><span>$</span> 50</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<div class="img-wrapper text-center">
								<img src="assets/product/product-8.png" alt=""/>
							</div>
							<h3>Business Report</h3>
							<div class="left">
								<p class="amount m-b-0"><span>Rs.</span> 5,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right">
								<p class="amount m-b-0"><span>$</span> 50</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="product-box">
						<div class="pad">
							<div class="img-wrapper text-center">
								<img src="assets/product/product-6.png" alt=""/>
							</div>
							<h3>Astro Talk</h3>
							<div class="left">
								<p class="amount m-b-0"><span>Rs.</span> 11,000</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="right">
								<p class="amount m-b-0"><span>$</span> 200</p>
								<a href="javascript:void(0)"><img src="assets/buy-now.png" alt=""/></a>
							</div>
							<div class="clearfix"></div>
							<p class="state"><span>Pandit Ajai Bhambi</span> is a celebrity astrologer of world fame.... </p>
						</div>
					</div>
				</div>
			</div>
			<!--end Third row -->
		</div>
		<!--end Product List -->