<!-- Start Tab Section -->
<div class="tab-wrapper clearfix">
  <h2>Astro Products</h2> 
  <ul class="nav nav-tabs responsive-tabs">
    <li>Astro Products</li>
    <li><a href="#misc">MISCELLANEOUS</a></li>
    <li><a href="#books">BOOKS</a></li>     
      <li><a href="#gems">GEMS</a></li>
      <li class="active"><a href="#shui">FENG SHUI</a></li>
    </ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="shui">
      <div class="col-md-4">
        <div class="astro-lg-product clearfix">
          <div class="img-wrapper">
            <a href="#"><img src="assets/product/astro-6.png" alt=""></a>
          </div>
          <div class="astro-name">Pukhraj</div>
          <div class="astro-price"><span>Rs.</span> 3,000<br>
            <button type="button" class="btn btn-default">BUY NOW</button>
          </div>          
        </div>
      </div>
      <div class="col-md-8">
        <div class="astro-products-row clearfix">
          
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-3.png" alt=""></a>
            </div>
            <div class="astro-name">Moonstone</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-2.png" alt=""></a>
            </div>
            <div class="astro-name">Blue Sapphire</div>
            <div class="astro-price"><span>Rs.</span> 31,000</div>
          </div>

          
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-1.png" alt=""></a>
            </div>
            <div class="astro-name">Moonga</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>
        </div>
        <!--end first row -->

        <div class="astro-products-row clearfix">
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-5.png" alt=""></a>
            </div>
            <div class="astro-name">Neelam</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-4.png" alt=""></a>
            </div>
            <div class="astro-name">Emarld</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-5.png" alt=""></a>
            </div>
            <div class="astro-name">Emarld</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>
          
        </div><!--end secon row -->

      </div>
    </div>

    <div class="tab-pane" id="gems">
      <div class="col-md-4">
        <div class="astro-lg-product clearfix">
          <div class="img-wrapper">
            <a href="#"><img src="assets/product/astro-6.png" alt=""></a>
          </div>
          <div class="astro-name">Pukhraj</div>
          <div class="astro-price"><span>Rs.</span> 3,000<br>
            <button type="button" class="btn btn-default">BUY NOW</button>
          </div>          
        </div>
      </div>
      <div class="col-md-8">
        <div class="astro-products-row clearfix">
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-1.png" alt=""></a>
            </div>
            <div class="astro-name">Moonga</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-2.png" alt=""></a>
            </div>
            <div class="astro-name">Blue Sapphire</div>
            <div class="astro-price"><span>Rs.</span> 31,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-3.png" alt=""></a>
            </div>
            <div class="astro-name">Moonstone</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>
        </div>
        <!--end first row -->

        <div class="astro-products-row clearfix">
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-4.png" alt=""></a>
            </div>
            <div class="astro-name">Emarld</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-5.png" alt=""></a>
            </div>
            <div class="astro-name">Emarld</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-5.png" alt=""></a>
            </div>
            <div class="astro-name">Neelam</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>
        </div><!--end secon row -->

      </div>
    </div>
    <!--end second tab -->

    <div class="tab-pane" id="books">      
        <div class="col-md-4">
          <div class="astro-lg-product clearfix">
          <div class="img-wrapper">
            <a href="#"><img src="assets/product/astro-6.png" alt=""></a>
          </div>
          <div class="astro-name">Pukhraj</div>
          <div class="astro-price"><span>Rs.</span> 3,000<br>
            <button type="button" class="btn btn-default">BUY NOW</button>
          </div>          
        </div>
      </div>
      <div class="col-md-8">
        <div class="astro-products-row clearfix">         
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-3.png" alt=""></a>
            </div>
            <div class="astro-name">Moonstone</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-2.png" alt=""></a>
            </div>
            <div class="astro-name">Blue Sapphire</div>
            <div class="astro-price"><span>Rs.</span> 31,000</div>
          </div>

          
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-1.png" alt=""></a>
            </div>
            <div class="astro-name">Moonga</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>
        </div>
        <!--end first row -->

        <div class="astro-products-row clearfix">
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-5.png" alt=""></a>
            </div>
            <div class="astro-name">Neelam</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-4.png" alt=""></a>
            </div>
            <div class="astro-name">Emarld</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-5.png" alt=""></a>
            </div>
            <div class="astro-name">Emarld</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>
          
        </div><!--end secon row -->

      </div>
    
    </div>
    <!--end third tab -->

    <div class="tab-pane" id="misc">     
        <div class="col-md-4">
          <div class="astro-lg-product clearfix">
          <div class="img-wrapper">
            <a href="#"><img src="assets/product/astro-6.png" alt=""></a>
          </div>
          <div class="astro-name">Pukhraj</div>
          <div class="astro-price"><span>Rs.</span> 3,000<br>
            <button type="button" class="btn btn-default">BUY NOW</button>
          </div>          
        </div>
      </div>
      <div class="col-md-8">
        <div class="astro-products-row clearfix">
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-2.png" alt=""></a>
            </div>
            <div class="astro-name">Blue Sapphire</div>
            <div class="astro-price"><span>Rs.</span> 31,000</div>
          </div>
          
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-3.png" alt=""></a>
            </div>
            <div class="astro-name">Moonstone</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>
          
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-1.png" alt=""></a>
            </div>
            <div class="astro-name">Moonga</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>
        </div>
        <!--end first row -->

        <div class="astro-products-row clearfix">
          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-4.png" alt=""></a>
            </div>
            <div class="astro-name">Emarld</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-5.png" alt=""></a>
            </div>
            <div class="astro-name">Neelam</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>          

          <div class="astro-products">
            <div class="img-wrapper">
              <a href="#"><img src="assets/product/astro-5.png" alt=""></a>
            </div>
            <div class="astro-name">Emarld</div>
            <div class="astro-price"><span>Rs.</span> 3,000</div>
          </div>
          
        </div><!--end secon row -->

      </div>
    
    </div>
    <!--end last tab -->
  </div>
</div>
<!-- End Tab Section -->    
  
<!-- Start Bottom Carousl slider -->
<div class="container">
  <h3 class="carousel-heading text-center">Yearly Forecast 2016 based on Vedic Sun Signs</h3>
  <div class="regular slider">
      <div><img src="assets/slick/slick-1.png" alt=""></div>
      <div><img src="assets/slick/slick-2.png" alt=""></div>
      <div><img src="assets/slick/slick-3.png" alt=""></div>
      <div><img src="assets/slick/slick-4.png" alt=""></div>
      <div><img src="assets/slick/slick-5.png" alt=""></div>
      <div><img src="assets/slick/slick-6.png" alt=""></div>
      <div><img src="assets/slick/slick-3.png" alt=""></div>
      <div><img src="assets/slick/slick-4.png" alt=""></div>
      <div><img src="assets/slick/slick-5.png" alt=""></div>
      <div><img src="assets/slick/slick-6.png" alt=""></div>
  </div>  
</div>
<!-- end Bottom Carousl slider -->