<div class="tab-wrapper clearfix">		
	<ul class="nav nav-tabs responsive-tabs">
		<li>Astro Products</li>
		<li><a href="#misc">MISCELLANEOUS</a></li>
		<li><a href="#books">BOOKS</a></li>	    
	    <li><a href="#gems">GEMS</a></li>
	    <li class="active"><a href="#shui">FENG SHUI</a></li>
  	</ul>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="shui">
      <p>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, commodi delectus accusamus optio quam odit illum laudantium dolorum nostrum recusandae corporis quo. Veniam, excepturi illo eveniet quas aperiam provident inventore.</p>
    </div>

    <div class="tab-pane" id="gems">
      <p>2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, commodi delectus accusamus optio quam odit illum laudantium dolorum nostrum recusandae corporis quo. Veniam, excepturi illo eveniet quas aperiam provident inventore.</p>
    </div>

    <div class="tab-pane" id="books">
      <p>3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, commodi delectus accusamus optio quam odit illum laudantium dolorum nostrum recusandae corporis quo. Veniam, excepturi illo eveniet quas aperiam provident inventore.</p>
    </div>

    <div class="tab-pane" id="misc">
      <p>4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, commodi delectus accusamus optio quam odit illum laudantium dolorum nostrum recusandae corporis quo. Veniam, excepturi illo eveniet quas aperiam provident inventore.</p>
    </div>
  </div>
</div>
<!--end tab wrapper -->

<div class="container">

  <div class="regular slider">
      <div>
        <img src="assets/slick/slick-1.png" alt="">
      </div>
      <div>
        <img src="assets/slick/slick-2.png" alt="">
      </div>
      <div>
        <img src="assets/slick/slick-3.png" alt="">
      </div>
      <div>
        <img src="assets/slick/slick-4.png" alt="">
      </div>
      <div>
        <img src="assets/slick/slick-5.png" alt="">
      </div>
      <div>
        <img src="assets/slick/slick-6.png" alt="">
      </div>
      <div>
        <img src="assets/slick/slick-3.png" alt="">
      </div>
      <div>
        <img src="assets/slick/slick-4.png" alt="">
      </div>
      <div>
        <img src="assets/slick/slick-5.png" alt="">
      </div>
      <div>
        <img src="assets/slick/slick-6.png" alt="">
      </div>
  </div>

  
</div>
<!-- end slider with container -->