		<h2>Featured Video</h2>
		<div class="video-section clearfix">
			
			<div class="video-left">
				<iframe src="https://www.youtube.com/embed/1wrqvLE9Q80" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="video-right">
				<ul class="list-unstyled">
					<li>
						<iframe src="https://www.youtube.com/embed/OOWE6z6AAqE" frameborder="0" allowfullscreen></iframe>
					</li>
					<li>
						<iframe src="https://www.youtube.com/embed/_FlyC-6KGVg" frameborder="0" allowfullscreen></iframe>
					</li>
					<li>
						<iframe src="https://www.youtube.com/embed/MJ2woozRs4M" frameborder="0" allowfullscreen></iframe>
					</li>
					<li>
						<iframe src="https://www.youtube.com/embed/6bobBqpqag4" frameborder="0" allowfullscreen></iframe>
					</li>
				</ul>
			</div>

			<div class="video-bg"><img src="assets/video-bg.png" alt=""/ class="img-responsive"></div>
		</div>
		<!-- End video section -->