<div class="courtsy clearfix">
	<div class="col-sm-12">
		<ul class="list-unstyled pull-left m-b-0">
			<li class="welcome">Welcome Visitors ! </li>
			<li>
				<img src="assets/phone.png" alt=""/>
				<span class="first">+91-11-26175070, 91-11-26160803</span>
				<span> HotLine: +91 98 103 03357 </span>
			</li>
		</ul>
		<div class="courtsy-right">
			<a href="javascript:void(0)"><i class="fa fa-user"></i> Log in</a> / 
			<a href="javascript:void(0)">Sign up</a> |
			<a href="javascript:void(0)">Wishlist(0)</a>
		</div>
	</div>
</div>
<!--end courtsy -->

<div class="header clearfix">	
	<div class="logo pull-left"><a href="javascript:void(0)"><img src="assets/logo.jpg" alt=""/></a></div>
	<div class="header-right">
		<a href="javascript:void(0)" class="pull-right"><img src="assets/skype.jpg/" alt=""></a>
		<div class="input-group pull-right">
	      <input type="text" class="form-control" placeholder="Search Products, Brands etc">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
	      </span>
	    </div><!-- /input-group -->
	    
	</div>
</div>
<!-- end header -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li><a href="javascript:void(0)">ASTRO SERVICES</a></li>
        <li><a href="javascript:void(0)">WEEKLY HOROSCOPE </a></li>
        <li><a href="javascript:void(0)">VASTU</a></li>
        <li><a href="javascript:void(0)">NUMEROLOGY</a></li>
        <li><a href="javascript:void(0)">SHOP</a></li>
        <li><a href="javascript:void(0)">CONTACT</a></li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Horoscopes</a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-search"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fa fa-user"></i></a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  <div class="news-headline clearfix">
  	<div class="col-sm-12 text-center">
	  	<span class="">World Brahmin Organisation (WBO) called a convention from 31st October – 2nd November 2014 on The Relevance of Vedas in the present Era.</span>
	  	<span class="pull-right">Nakashatra Niket</span>
	  </div>
  </div>
  <!--end news headline -->
</nav>
<!--end nav bar -->