<tbody><tr>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th valign="top" class="titlefontstyle" scope="col"> Pandit Ajai Bhambi Ji </th>
          </tr>
          <tr>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th rowspan="10" valign="top" class="titlefontstyle" scope="col"><table width="500" border="0" align="center" cellpadding="0" cellspacing="10">
	<tbody><tr>
	<td height="30" class="head1" style="padding-left:10px;">Fields marked with * are required.</td>
	</tr>
	<tr>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="5">
	<form method="post" enctype="multipart/form-data" onsubmit="return preventUser();" name="formname" action=""></form>
	  <tbody><tr>
		<td class="head2">Name<span class="red">*</span></td>
		<td class="head2">:</td>
		<td><label>
		  <input name="name" type="text" id="name" class="sub" size="35" value="">
		</label></td>
	  </tr>
	  
	  <tr>
		<td class="head2">Email Id<span class="red">*</span></td>
		<td class="head2">:</td>
		<td><input name="email" type="text" id="email" class="sub" size="35" value=""></td>
	  </tr>
	  
	  <tr>
		<td class="head2">Subject<span class="red">*</span></td>
		<td class="head2">:</td>
		<td><input name="subject" type="text" class="sub" id="sub" size="35" value=""></td>
	  </tr>
	  
	  <tr>
		<td valign="top" class="head2">Enter your Message<span class="red">*</span></td>
		<td valign="top" class="head2">:</td>
		<td><textarea name="message" cols="35" id="message" rows="5" class="sub"> </textarea></td>
	  </tr>
	   
		<tr>
			<td valign="top" class="head2">Validation code<span class="red">*</span></td>
			<td valign="top" class="head2">:</td>
			<td>
				<img src="captcha_code_file.php?rand=1250094083" id="captchaimg"><br>
				<label for="message">Enter the code above here :</label>
				<br>
				<input id="captcha" name="captcha" type="text">
				<br>
				Can't read the image? click <a href="javascript: refreshCaptcha();">here</a> to refresh			</td>
		</tr>
	  <tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td><label>
		<input name="Submit" type="submit" class="sub" value="Submit">
		</label></td>
	  </tr>
	  
	</tbody></table></td>
	</tr>
	</tbody></table></th>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th valign="top" class="allfont" scope="col">Nakshatra Niket<br>701, Ansal Chamber-II<br>Bhikaji Cama Place,<br>New Delhi, INDIA -110 066</th>
          </tr>
          <tr>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
          </tr>
          <tr>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th valign="top" class="allfont" scope="col">Telephone: +91-11-26175070, 91-11-26160803, 91-11-26896866<br>Mobile Phone: +91 98 103 03357</th>
          </tr>
          <tr>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
          </tr>
          <tr>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th valign="top" class="titlefontstyle" scope="col">Contact Hours:9:00 AM to 6:00 PM IST </th>
          </tr>
          <tr>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
          </tr>
          <tr>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th valign="top" class="titlefontstyle" scope="col">&nbsp;</th>
            <th valign="top" class="allfont" scope="col">Email:nakshatra@astrobhambi.com, ajai@astrobhambi.com<br>Download information as a vCard </th>
          </tr>
          <tr>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
          </tr>
          <tr>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
          </tr>
          <tr>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
          </tr>
          <tr>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
            <th valign="top" scope="col">&nbsp;</th>
          </tr>
          
        </tbody>