/*-----| Header |------*/
.header .logo{float: left}
.header .header-right{float :right; width:53%; padding: 5px 0 0}
.header .header-right .input-group{width: 53%; margin: 6px 11px 0 0; float :right; }
.header .header-right a{float :right; }

/*-----| Slider |-----*/
.carousel-caption {bottom: 49px}
.carousel-caption .title {font-size: 36px}
.carousel-caption p{font-size: 18px}
.carousel-caption p.big{font-size: 24px}
.banner-tagline {font-size: 16px; bottom: 15px}
.carousel-indicators {bottom: 10px; padding: 8px 6px 3px 5px}
.carousel-indicators li{ width: 14px; height: 14px; margin: 0 4px}
.carousel-indicators .active{ width: 14px; height: 14px}

/*-----| Welcome Article |------*/
.welcome-img img{width: 100px}
.welcome-txt{font-size:16px; width: calc(100% - 101px)}

/*-------| Video Section |-------*/
.video-section .video-bg{bottom: -19px}

/*-----| Footer |-----*/
.footer-column{float: left; width: 50%}
